html,
body {
  background-color: #e9ecef;
  height: 100%;
  width: 100%;
  height: -webkit-fill-available;
}

html #root, html .app, html .login, html .register, html .verify,
body #root,
body .app,
body .login,
body .register,
body .verify {
  height: 100%;
}

html .media-list,
body .media-list {
  padding: 0;
}

html .bottom,
body .bottom {
  position: relative;
  bottom: 0;
  width: -webkit-fill-available;
}

html .over,
body .over {
  text-shadow: 1px 0 1px #000,  0 1px 1px #000,  -1px 0 1px #000,  0 -1px 1px #000;
}

html #buyModal,
body #buyModal {
  font-size: 1.5em;
  margin-bottom: 5px;
  font-weight: bolder;
  width: -webkit-fill-available;
}

html textarea,
body textarea {
  margin-bottom: 20px;
}

html .navbar-fixed,
body .navbar-fixed {
  position: fixed;
  z-index: 10;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

html .modal,
body .modal {
  padding-left: 0px;
}

html #sendrate,
body #sendrate {
  width: -webkit-fill-available;
}

html .media-body .author,
body .media-body .author {
  display: block;
  font-size: 1rem;
  color: #000;
  font-weight: 700;
}

html .media-body .metadata,
body .media-body .metadata {
  display: block;
  color: #777;
  font-size: .8125rem;
}

html .media-text,
body .media-text {
  margin-bottom: 0.25rem;
}

html .title-comments,
body .title-comments {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.5rem;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 1rem;
  padding-bottom: .25rem;
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}

html .media-left img,
body .media-left img {
  width: 50px;
}

html .modal-90w,
body .modal-90w {
  max-width: 80%;
}

html .send,
body .send {
  display: block;
  margin-bottom: 30px;
}

html .accordion,
body .accordion {
  background-color: #f8f9fa !important;
}

html .cardlist,
body .cardlist {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

html footer,
body footer {
  background-color: #f8f9fa !important;
}

html nav a:not(.nav-link),
body nav a:not(.nav-link) {
  font-weight: bolder;
}

html nav button,
body nav button {
  margin-left: 15px;
}

html .card-header,
body .card-header {
  text-align: center;
}

html .card-header button,
body .card-header button {
  font-weight: bolder;
  font-size: 2em;
}

html .card .card-title,
body .card .card-title {
  font-size: 2.5rem !important;
}

html .card .btn,
body .card .btn {
  font-size: 1.5em;
  margin-bottom: 5px;
  font-weight: bolder;
  width: -webkit-fill-available;
}

html .card .card-body,
body .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

html .login,
body .login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

html .login h1,
body .login h1 {
  font-weight: bolder;
  font-size: 3em;
}

html .login label.form-label,
body .login label.form-label {
  font-size: 1.5em;
  font-weight: bold;
}

html .login button,
body .login button {
  font-size: 1.5em;
  font-weight: bold;
  display: block;
  margin: 10px auto;
}

html .register,
body .register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

html .register h1,
body .register h1 {
  font-weight: bolder;
  font-size: 3em;
}

html .register label.form-label,
body .register label.form-label {
  font-size: 1.5em;
  font-weight: bold;
}

html .register button,
body .register button {
  font-size: 1.5em;
  font-weight: bold;
  display: block;
  margin: 10px auto;
}

html .verify,
body .verify {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

html .verify h1,
body .verify h1 {
  font-weight: bolder;
  font-size: 3em;
}

html .verify label.form-label,
body .verify label.form-label {
  font-size: 1.5em;
  font-weight: bold;
}

html .verify button,
body .verify button {
  font-size: 1.5em;
  font-weight: bold;
  display: block;
  margin: 10px auto;
}

@media screen and (max-width: 720px) {
  .btn-primary {
    width: inherit !important;
  }
}

@media screen and (min-width: 992px) {
  .navbar-fixed {
    position: initial !important;
  }
  .not-fixed {
    display: none;
  }
}

@media screen and (max-width: 994px) {
  .cardlist {
    grid-template-columns: 1fr 1fr !important;
  }
}

@media screen and (max-width: 421px) {
  .login, .register, .verify {
    margin: 5%;
  }
}

@media screen and (max-width: 630px) {
  .card-header button {
    font-size: 1.5em !important;
  }
  #submit-order {
    width: -webkit-fill-available;
    display: block;
    margin-bottom: 10px !important;
  }
  .btn-primary {
    width: inherit !important;
  }
  .mr-auto {
    text-align: center !important;
  }
  .form-inline {
    flex-flow: initial;
  }
  .cardlist {
    grid-template-columns: 1fr !important;
  }
  .modal {
    padding-right: 0 !important;
  }
  .modal-90w {
    max-width: 100% !important;
  }
}
